.article{
    width: 400px;
    margin-bottom: auto;
    background: #F3F2F2;
    border-radius: 6px 44px;
    padding: 40px;
}


.valores{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #574F4D;
    margin-bottom: 24px;

}

.totalitens{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.entrega{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #403937;
}

.button{
    width: 368px;
    height: 46px;


    background: #DBAC2C;
    border-radius: 6px;
    display: flex;
    
    justify-content: center;
}

.button > button{
    border: none;
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color :#FFFFFF;
    
}

